.container{
  text-align: center;
  margin-top: 50px;
  margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn{
  margin: 10px;
  padding: 12px 22px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover{
  transform: scale(1.05);
}

.happy{
  background-color: #1ece1e;
}

.sad{
  background-color: #1b3a96;
}
.angry{
  background-color: #c63333;
}

.reset{
  background-color: rgb(195, 195, 60);
}